#main {
  height: 620px;
  width: 620px;
  background-color: #79CEDC ;
  position: relative;
  font-size:0;
  white-space:nowrap;
}
.squares {
  margin: 1px;
  padding: 0;
  background-color: #291B2C;
  display: inline-block;
  float: left;
}
.hover {
  background-color: #CCA969;
}   




body{
    background-color: #C5E7D1; 
}

.img {
  position:absolute;
  top: 200px;
  right: 50px;

}
#lele{
    padding-left: 29px;
}
h2{
    font-family: 'Indie Flower', cursive;
}